<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.yang.coolweather"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!--<uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24" />-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.yang.coolweather.activity.ChooseAreaActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.yang.coolweather.activity.WeatherActivity"></activity>

        <service android:name="edu.yang.coolweather.service.AutoUpdateService"></service>

        <receiver android:name="edu.yang.coolweather.receiver.AutoUpdateReceiver"></receiver>
    </application>

</manifest>